html, body {
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    height: 70px;
    line-height: 70px;
    width: 100%;
    vertical-align: baseline;
    background-position:center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 10;
}

.company-logo {
    background: url('/img/logo.png') no-repeat;
    background-size: 122px 34px;
    float: left;
    height: 44px;
    margin: 17px 0 0 17px;
    width: 168px;
}


#container {
    min-height: 100%;
    min-width: 100%;
    right: 0;
    background-color: #f5f5f5;
}

#left-space {
    width: 17%;
    border: 1px solid #d8d8d8;
    background-color: #FEFEFE;
    border-bottom-width: 2px;
    margin: 82px 10px 10px 10px;
    float: left;
    position: fixed;
    top: 68;
    bottom: auto;
    z-index: 10;
}

#right-container {
    border-bottom-width: 2px;
    width: 82%;
    display: inline-block;
    float: left;
    margin-left: 18%;
    margin-top: 73px;
}

#right-space {
    margin: 10px;
    border: 1px solid #d8d8d8;
    background-color: #FEFEFE;
    border-bottom-width: 2px;
    padding: 10px;
    width: 98%;
    display: inline-block;
}

#right-space-minor {
    margin: 10px;
    border: 1px solid #d8d8d8;
    background-color: #FEFEFE;
    width: 98%;
    border-bottom-width: 2px;
    padding: 10px;
}

.navbar-nav > li.active-menu {
    border-left: solid #04B404;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    border-left-width: 3px;
}

#bar-medium {
    width: 98%;
    margin: 10px;
    border: 1px solid #d8d8d8;
    background-color: #FEFEFE;
    height: 175px;
    border-bottom-width: 2px;
    padding: 10px;

}

#bar-small {
    width: 98%;
    margin: 10px;
    border: 1px solid #d8d8d8;
    background-color: #FEFEFE;
    border-bottom-width: 2px;
    padding: 10px;
    vertical-align: middle;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-table;
    float: left;
    line-height: 70px;
    list-style: none;
}


#top-container li {
    display: inline-table;
    float: left;
    list-style: none;
}

header li > a, header li > div > a, #top-container li > a, #top-menu li > div {
    border-right: 1px solid #FFFFFF;
    color: #777;
    padding-right: 10px;
    padding-left: 10px;
}


header li.first > a:hover {
    color: #777;
    text-decoration: none;
}

header li.last > a:hover {
    color: #ac2925;
    text-decoration: none;
}


.cursor-def {
    cursor: default;
}


header li.last > a {
    border-right: none;
    padding-right: 30px;
}

#header-menu-top {
    display: block;
    float: right;
    font-size: 0.8em;
    padding-top: 3px;
}

