@font-face {
    font-family: 'FontAwesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

tr:not(:last-child) > td{
    padding: 0.7em;
    border-bottom: 1px solid #e5e5e5;
}


tr:last-child > td{
    padding: 0.7em;
}

td.thumbnail_field {
    width: 10%;
}

td.name  {
    width: 15%;
}

td.small_td {
    width: 13%;
}

td.mini {
    width: 9%;
}

td.dates-size {
    width: 18%;
}

td.menu_preview {
    width: 15%;
    color: #3d8b3d;
}

td.menu_edit {
    width: 8%;
    color: #204d74;
    vertical-align: bottom;
}

td.menu_delete {
    vertical-align: bottom;
    color: #843534;
}

td.menu_preview:hover {
    width: 15%;
    color: #00BB00;
    cursor: pointer;
}

td.menu_edit:hover {
    color: #204dDA;
    cursor: pointer;
}


td.menu_delete:hover {
    cursor: pointer;
    color: #BB0000;
}

td > p {
    display: inline-block;
    font-weight: bold;
}

.fa2 {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-assets {
    font-size: 12px;

}

span.bold_span {
    font-weight: bold;
    padding: 5px;
}

input[type=search] {
    cursor: pointer;
    width: 150px;
    border: 1px solid #cfcfcf;
    padding: 4px 12px;
    border-radius: 8px;
    -webkit-appearance: none;
    background-color: #fcfcfc;
}

.search-content {
    float: right;
    margin-top: 2px;
}


.right-content {
    text-align: right;
    margin-top: 2px;
    width: 98%;
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
}

.space-content {
    display: inline-block;
    width: 600px;
}

.table-assets-popup {
    height:auto;
    min-height: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

*:focus {
    outline: 0;
}

p.float {
    display: inline-block;
    font-weight: bold;
    width: 100px;
    vertical-align: bottom;
}

.margin_top_space {
    margin-top: 25px;
}


.margin_top_space_minor {
    margin-top: 10px;
}


.input-style-large2 {
    width: 290px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
}


.input-style-large {
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
}





section.ng-video-container {
    width: 550px;
    height: 310px;
    margin: 40px auto auto auto;
}

section.video {
    text-align: left;
    padding: 5px;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    border: 1px solid lightgray;
}

section.video section.loading {
    position: absolute;
    top: 39px;
    left: 5px;
    width: 538px;
    height: 260px;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    font-size: 12px;
    pointer-events: all;
    z-index: 201;
    padding: 13px 0 0 40px;
    background-color: rgba(0, 0, 0, .25);
}

section.video video {
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    object-fit: fill;
}

section.video section.controls {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 48px;
    z-index: 5;
    text-align: center;
    color: white;
}

section.video section.controls span {
    margin: 0;
    padding: 0;
    cursor: pointer;
    line-height: 48px;
    padding-left: 2px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    transition: background-color .35s;
    border-radius: 3px;
    margin-bottom: 10px;
}

section.video section.controls span:hover {
    background-color: rgba(255, 255, 255, .25);
}

section.video section.volume {
    position: absolute;
    top: 145px;
    right: 25px;
    width: 48px;
}

section.video section.volume div.scale {
    background-color: rgba(0, 0, 0, .15);
    width: 48px;
    height: 5px;
    position: relative;
}

section.video section.volume div.scale div.bar {
    background-color: rgba(255, 255, 255, .75);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 50%;
    transition: width .25s;
}

section.video section.volume span {
    color: rgba(0, 0, 0, .25);
    font-size: 15px;
    pointer-events: all;
    cursor: pointer;
    margin-top: 10px;
}

section.video section.volume span.increase {
    float: right;
}

section.video section.feedback {
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 4;
    width: 100%;
    height: 100%;
}

section.video section.feedback span.buffering {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 0 0 45px;
}

section.video section.generic {
    position: absolute;
    bottom: 11px;
    right: 10px;
    z-index: 90;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(255, 255, 255, .5);
}

section.video section.generic a {
    text-transform: none;
    color: rgba(255, 255, 255, .75);
    pointer-events: all;
}

section.video section.generic a:hover {
    text-decoration: none;
}

section.video section.timeline {
    position: absolute;
    width: 485px;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 32px;
}

section.video section.timeline input {
    width: 100%;
    pointer-events: all;
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    height: 12px;
    border-bottom: 3px solid rgba(0, 0, 0, .25);
}

section.video section.timeline input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 45px;
}

section.video section.timeline input::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 45px;
}

section.video section.duration {
    background-color: rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .5);
    padding: 2px 5px;
    border-radius: 3px 0 0 3px;
    position: absolute;
    font-size: 11px;
    bottom: 62px;
    right: 83px;
}

section.video section.title {
    background-color: #dd4b39;
    font-size: 11px;
    position: absolute;
    color: white;
    opacity: .8;
    padding: 2px 5px;
    border-radius: 0 3px 3px 0;
    bottom: 62px;
    right: 33px;
}

section.video section.playlist {
    height: 297px;
    position: absolute;
    width: 200px;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, .35);
}

section.video section.playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.video section.playlist ul li {
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    padding: 0 12px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    color: white;
    font-size: 12px;
}

section.video section.playlist ul li span.meta {
    margin-right: 8px;
    padding: 1px 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .25);
}

section.video section.playlist ul li.title {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

section.video section.playlist ul li:not(.title):hover {
    background: rgba(0, 0, 0, .25);
}

section.video section.playlist ul li.title div.close-playlist {
    position: absolute;
    top: -1px;
    font-size: 20px;
    right: 0;
    cursor: pointer;
    width: 35px;
    text-align: center;
    color: white;
}

section.video span.open-playlist {
    color: white;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

section.video section.buffer {
    position: absolute;
    width: 485px;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, .5);
    height: 1px;
}

section.video section.buffer canvas {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

section.video section.full-screen {
    position: absolute;
    top: 40px;
    left: 6px;
    cursor: pointer;
    padding: 10px;
    color: white;
}



.list {
    list-style: none outside none;
    margin: 10px 0 30px;
}


.as-sortable-item,
.as-sortable-placeholder {
    margin: 5px;
    list-style: none;
}

.as-sortable-placeholder {
    border: 1px dotted #dbdbdb !important;
}

#sortable-container {
    display: inline-block;
}

.column {
    border: 1px solid #000000;
    border-radius: 5px;
}

li > div > p {
    display: inline-block;
    font-weight: bold;
}



li:not(:last-child).assets {
    padding: 0.7em;
    border-bottom: 1px solid #e5e5e5;
}


li:last-child.assets {
    padding: 0.7em;
}

div.thumbnail_field {
    width: 10%;
    vertical-align: middle;
    margin-left: 20px;
}

div.name  {
    width: 22%;
    vertical-align: middle;
    margin-left: 30px;
}

div.small {
    width: 15%;
    vertical-align: middle;
    margin-left: 10px;
}

div.menu_preview {
    width: 11%;
    color: #3d8b3d;
    display: inline-block;
    vertical-align: middle;
    margin-top: 22px;
    margin-left: 10px;
}


div.menu_delete {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 22px;
    color: #843534;
    margin-left: 10px;
}



div.menu_preview:hover {
    width: 11%;
    color: #00BB00;
    cursor: pointer;
}

div.menu_delete:hover {
    cursor: pointer;
    width: 10%;
    color: #BB0000;
}

div.bars-div {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.input-style-minimum {
    width: 75px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
    opacity:  1;
}