@font-face {
    font-family: 'FontAwesome';
    src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

tr:not(:last-child) > td{
    padding: 0.7em;
    border-bottom: 1px solid #e5e5e5;
}


tr:last-child > td{
    padding: 0.7em;
}

td.thumbnail_field {
    width: 10%;
}

td.name  {
    width: 15%;
}

td.small_td {
    width: 13%;
}

td.mini {
    width: 9%;
}

td.dates-size {
    width: 18%;
}

td.menu_preview {
    width: 15%;
    color: #3d8b3d;
}

td.menu_edit {
    width: 8%;
    color: #204d74;
    vertical-align: bottom;
}

td.menu_delete {
    vertical-align: bottom;
    color: #843534;
}

td.menu_preview:hover {
    width: 15%;
    color: #00BB00;
    cursor: pointer;
}

td.menu_edit:hover {
    color: #204dDA;
    cursor: pointer;
}


td.menu_delete:hover {
    cursor: pointer;
    color: #BB0000;
}

td > p {
    display: inline-block;
    font-weight: bold;
}

.fa2 {
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-assets {
    font-size: 12px;

}

span.bold_span {
    font-weight: bold;
    padding: 5px;
}

input[type=search] {
    cursor: pointer;
    width: 150px;
    border: 1px solid #cfcfcf;
    padding: 4px 12px;
    border-radius: 8px;
    -webkit-appearance: none;
    background-color: #fcfcfc;
}

.search-content {
    float: right;
    margin-top: 2px;
}


.right-content {
    text-align: right;
    margin-top: 2px;
    width: 98%;
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
}

.space-content {
    display: inline-block;
    width: 600px;
}


.space-content-new-screen {
    display: inline-block;
    width: 37%;
}


.table-assets-popup {
    height:auto;
    min-height: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

*:focus {
    outline: 0;
}

p.float {
    display: inline-block;
    font-weight: bold;
    width: 100px;
    vertical-align: bottom;
}

.margin_top_space {
    margin-top: 25px;
}


.margin_top_space_minor {
    margin-top: 10px;
}


.input-style-large2 {
    width: 290px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
}


.input-style-large {
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: inline-block;
}

.create-code-screen {

    margin: 20px 10px 10px 10px;
    width: 98%;
    border-bottom-width: 2px;
    padding: 10px;
    display: table;
    position: relative;
    height: 100%;
}

.screen-container2{
    position: relative;
    margin: auto;
    padding: 25px 40px 40px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    height: 170px;
    width: 350px;
}



.screen-container2::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.screen-container2::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);

}