<% layout(layoutPathLogged) -%>
<% stylesheet('/css/ng-sortable.min.css') %>
<% stylesheet('/css/playlistLayout.css') %>
<% stylesheet('/css/ng-quick-date.css') %>
<% stylesheet('/css/ng-quick-date-default-theme.css') %>
<% stylesheet('/css/chosen.css') %>

<div id="right-container"  ng-app="ScreensApp" ng-controller="NewPlaylistController as ctrPlaylist">
    <modalplaylist  title="Photo Modal" visible="showModalNew">
        <div class="right-content">
            <span class="bold_span">Search: </span> <input  ng-model="searchText" type="search" name="search_asset" placeholder="...">
        </div>
        <div class="table-assets-popup">
            <table style="width:100%">
                <tr ng-repeat="asset in allAssets | filter:searchText">
                    <td class="small" ng-click="ctrPlaylist.addItem(asset)">
                        <div class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</div>
                    </td>
                    <td class="thumbnail_field"><img src="{{asset.thumbnail}}" width="100px"/></td>
                    <td class="name">
                        <p>Name</p>
                        <div class="font-assets">{{asset.name | limitTo: 40}}</div>
                    </td>
                    <td class="small">
                        <p>Type&nbsp;&nbsp;</p><i class="fa2 fa-film"></i> / <i class="fa2 fa-photo"></i>
                                <div class="font-assets">{{asset.tipo}}</div>
                    </td>
                    <td class="small">
                        <p>Duration</p>
                        <div class="font-assets">{{ctrPlaylist.durationTime(asset.duration)}}</div>
                    </td>
                    <td class="menu_preview" ng-click="ctrPlaylist.toggleModal2(asset.path, asset.tipo)"><i class="fa2 fa-play-circle"></i> Preview </td>
                </tr>
            </table>
        </div>
    </modalplaylist>

    <modalinit  title="VideoModal"  visible="showModal">
        <section class="video" ng-video ng-model="interface">
            <section vi-controls class="controls">
                <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
                <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
            </section>
        </section>
    </modalinit>

    <modalinit  title="Photo Modal" visible="showModalPhoto">
        <img src="{{photoSelected}}" width="570px" />
    </modalinit>

    <div id="bar-small">
        <div class="space-content">
            <span style="font-weight: bold">Create Playlist</span>
        </div>
    </div>
    <div id="right-space-minor">
          <div class="margin_top_space_minor">
              <p class="float">Name</p>
              <input type="text" ng-model="title" tabindex="1" class="input-style-large" placeholder="Playlist name">
          </div>

          <div class="margin_top_space_minor">
              <p class="float">Groups</p>
              <select class="input-style-large-3" tabindex="2" multiple chosen ng-model="groups" ng-options="opt as opt.title for opt in allGroups track by opt._id">
              </select>
           </div>
          <div class="margin_top_space_minor">
              <p class="float">Schedule</p>
              <quick-datepicker icon-class='fa fa-calendar' tabindex="3" name='from' ng-model='from' class="input-style-large" placeholder="From" ></quick-datepicker>
              <quick-datepicker icon-class='fa fa-calendar' tabindex="4" name='to' ng-model='to' class="input-style-large" placeholder="To"></quick-datepicker>
          </div>
    </div>
    <div class="right-content">
        <div ng-click="ctrPlaylist.toggleModal()" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Asset</div>
    </div>

    <div id="right-space-minor">
        <ul style="width:100%" as-sortable="sortableOptions" ng-model="assets" class="list" >
            <li ng-repeat="asset in assets" as-sortable-item class="as-sortable-item assets">
                <div class="bars-div" as-sortable-item-handle class="as-sortable-item-handle">
                    <i class="fa fa-bars"></i>
                </div>
                <div style="display: inline-block;" class="thumbnail_field"><img src="{{asset.thumbnail}}" width="100px"/></div>
                <div style="display: inline-block;" class="name">
                    <p>Name</p>
                    <div class="font-assets">{{asset.name | limitTo: 40}}</div>
                </div>
                <div style="display: inline-block;" class="small">
                    <p>Type&nbsp;&nbsp;</p><i class="fa2 fa-film"></i> / <i class="fa2 fa-photo"></i>
                    <div class="font-assets">{{asset.tipo}}</div>
                </div>
                <div  ng-if="asset.tipo.split('/')[0] !== 'image'" style="display: inline-block;" class="small">
                    <p>Duration</p>
                    <div class="font-assets">
                        {{ctrPlaylist.durationTime(asset.duration)}}
                    </div>
                </div>
                <div  ng-if="asset.tipo.split('/')[0] === 'image'" style="display: inline-block;" class="small">
                    <p>Duration (seconds)</p>
                    <div class="font-assets" ng-if="asset.tipo.split('/')[0] === 'image'">
                        <input type="number" min="0" ng-model="asset.duration" class="input-style-minimum" >
                    </div>
                </div>
                <div class="menu_preview" ng-click="ctrPlaylist.toggleModal2(asset.path, asset.tipo)"><i class="fa2 fa-play-circle"></i> Preview </div>
                <div class="menu_delete" ng-click="ctrPlaylist.quitItem(asset)"><i class="fa2 fa-trash"></i> Quit </div>

            </li>
        </ul>
    </div>


    <div class="right-content">
        <div ng-click="ctrPlaylist.createPlaylist()" tabindex="5" ng-disabled="!ctrPlaylist.isValid()" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create PlayList</div>
    </div>

</div>