<% layout(layoutPathLogged) -%>
<% stylesheet('/css/playlistLayout.css') %>
<div id="right-container"  ng-app="ScreensApp" ng-controller="NewPlaylistController as ctrPlaylist">
    <div id="bar-small">
        <div class="space-content">
            <a href="/new_playlist" class="btn btn-success"><i class="fa fa-rocket"></i>&nbsp;&nbsp;New</a>
        </div>
        <div class="search-content">
            <span class="bold_span">Search: </span> <input  ng-model="searchText" type="search" name="search_asset" placeholder="...">
        </div>
    </div>
    <div id="right-space-minor">
        Welcome to your dashboard, <%= user.firstName %>.
    </div>
</div>