<% layout(layoutPathLogged) -%>
<% stylesheet('/css/ng-sortable.min.css') %>
<% stylesheet('/css/playlistLayout.css') %>
<% stylesheet('/css/ng-quick-date.css') %>
<% stylesheet('/css/ng-quick-date-default-theme.css') %>
<% stylesheet('/css/chosen.css') %>

<div ng-app="ScreensApp" ng-controller="PlaylistController as ctrPlaylist">
    <div id="right-container"   ng-show="!show_edit">
        <div id="bar-small">
            <div class="space-content">
                <a href="/new_playlist" class="btn btn-success"><i class="fa fa-rocket"></i>&nbsp;&nbsp;New</a>
            </div>
            <div class="search-content">
                <span class="bold_span">Search: </span> <input  ng-model="searchText" type="search" name="search_playlist" placeholder="...">
            </div>
        </div>
        <div id="right-space-minor">
            <table style="width:100%">
                <tr ng-repeat="playlist in playLists | filter:searchText" ng-if="$first">
                    <td class="name">
                        <p>Name</p>
                        <div class="font-assets">{{playlist.title | limitTo: 40}}</div>
                    </td>
                    <td class="date-size">
                        <p>&nbsp;&nbsp;</p>
                        <div class="font-assets"></div>
                    </td>
                    <td class="date-size">
                       <p>&nbsp;&nbsp;</p>
                        <div class="font-assets"></div>
                    </td>
                    <td class="mini">
                        <p>items</p>
                        <div class="font-assets">{{playlist.assets.length}}</div>
                    </td>
                    <td class="small_td">
                        <p>Duration</p>
                        <div class="font-assets">{{ctrPlaylist.durationTime(playlist.assets)}}</div>
                    </td>
                    <td class="menu_edit" ng-click="ctrPlaylist.editRow2(playlist)"><i class="fa2 fa-cogs"></i> Edit </td>
                    <td class="menu_delete"></td>
                </tr>
                <tr ng-repeat="playlist in playLists | filter:searchText" ng-if="!$first">
                    <td class="name">
                        <p>Name</p>
                        <div class="font-assets">{{playlist.title | limitTo: 40}}</div>
                    </td>
                    <td class="date-size">
                        <i class="fa2 fa-calendar"></i><p>&nbsp;&nbsp;From</p>
                        <div class="font-assets">{{playlist.from | date:'medium'}}</div>
                    </td>
                    <td class="date-size">
                        <i class="fa2 fa-calendar"></i><p>&nbsp;&nbsp;To</p>
                        <div class="font-assets">{{playlist.to | date:'medium'}}</div>
                    </td>
                    <td class="mini">
                        <p>items</p>
                        <div class="font-assets">{{playlist.assets.length}}</div>
                    </td>
                    <td class="small_td">
                        <p>Duration</p>
                        <div class="font-assets">{{ctrPlaylist.durationTime(playlist.assets)}}</div>
                    </td>
                    <td class="menu_edit" ng-click="ctrPlaylist.editRow(playlist)"><i class="fa2 fa-cogs"></i> Edit </td>
                    <td class="menu_delete" ng-click="ctrPlaylist.deleteRow(playlist._id)"><i class="fa2 fa-trash-o"></i> Delete </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- EDIT -->
    <div ng-show="show_edit">
        <div id="right-container"  ng-app="ScreensApp" ng-controller="NewPlaylistController as ctrPlaylistEdit">


            <modalplaylist  title="Photo Modal" visible="showModalNew">
                <div class="right-content">
                    <span class="bold_span">Search: </span> <input  ng-model="searchText" type="search" name="search_asset" placeholder="...">
                </div>
                <div class="table-assets-popup">
                    <table style="width:100%">
                        <tr ng-repeat="asset in allAssets | filter:searchText">
                            <td class="small" ng-click="ctrPlaylistEdit.addItem(asset)">
                                <div class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</div>
                            </td>
                            <td class="thumbnail_field"><img src="{{asset.thumbnail}}" width="100px"/></td>
                            <td class="name">
                                <p>Name</p>
                                <div class="font-assets">{{asset.name | limitTo: 40}}</div>
                            </td>
                            <td class="small">
                                <p>Type&nbsp;&nbsp;</p><i class="fa2 fa-film"></i> / <i class="fa2 fa-photo"></i>
                                <div class="font-assets">{{asset.tipo}}</div>
                            </td>
                            <td class="small">
                                <p>Duration</p>
                                <div class="font-assets">{{ctrPlaylistEdit.durationTime(asset.duration)}}</div>
                            </td>
                            <td class="menu_preview" ng-click="ctrPlaylistEdit.toggleModal2(asset.path, asset.tipo)"><i class="fa2 fa-play-circle"></i> Preview </td>
                        </tr>
                    </table>
                </div>
            </modalplaylist>

            <modalinit  title="VideoModal"  visible="showModal">
                <section class="video" ng-video ng-model="interface">
                    <section vi-controls class="controls">
                        <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
                        <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
                    </section>
                </section>
            </modalinit>

            <modalinit  title="Photo Modal" visible="showModalPhoto">
                <img src="{{photoSelected}}" width="570px" />
            </modalinit>

            <div id="bar-small">
                <div class="space-content">
                    <div ng-click="ctrPlaylistEdit.back()" class="btn btn-info"><i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;Back</div>
                    <span style="font-weight: bold; padding-left: 20px; vertical-align: middle; ">Edit Playlist</span>
                </div>
            </div>
            <div id="right-space-minor">
                <div class="margin_top_space_minor">
                    <p class="float">Name</p>
                    <input type="text" ng-model="title"  ng-disabled="edit_all" tabindex="1" class="input-style-large" placeholder="Playlist name">
                </div>
                <div class="margin_top_space" ng-show="!edit_all">
                    <p class="float">Schedule</p>
                    <quick-datepicker icon-class='fa fa-calendar' tabindex="2" name='from' ng-model='from' class="input-style-large" placeholder="From" ></quick-datepicker>
                    <quick-datepicker icon-class='fa fa-calendar' tabindex="3" name='to' ng-model='to' class="input-style-large" placeholder="To"></quick-datepicker>
                </div>
            </div>
            <div class="right-content">
                <div ng-click="ctrPlaylistEdit.toggleModal()" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Asset</div>
            </div>

            <div id="right-space-minor">
                <ul style="width:100%" as-sortable="sortableOptions" ng-model="assets" class="list" >
                    <li ng-repeat="asset in assets" as-sortable-item class="as-sortable-item assets">
                        <div class="bars-div" as-sortable-item-handle class="as-sortable-item-handle">
                            <i class="fa fa-bars"></i>
                        </div>
                        <div style="display: inline-block;" class="thumbnail_field"><img src="{{asset.thumbnail}}" width="100px"/></div>
                        <div style="display: inline-block;" class="name">
                            <p>Name</p>
                            <div class="font-assets">{{asset.name | limitTo: 40}}</div>
                        </div>
                        <div style="display: inline-block;" class="small">
                            <p>Type&nbsp;&nbsp;</p><i class="fa2 fa-film"></i> / <i class="fa2 fa-photo"></i>
                            <div class="font-assets">{{asset.tipo}}</div>
                        </div>
                        <div  ng-if="asset.tipo.split('/')[0] !== 'image'" style="display: inline-block;" class="small">
                            <p>Duration</p>
                            <div class="font-assets">
                                {{ctrPlaylistEdit.durationTime(asset.duration)}}
                            </div>
                        </div>
                        <div  ng-if="asset.tipo.split('/')[0] === 'image'" style="display: inline-block;" class="small">
                            <p>Duration (seconds)</p>
                            <div class="font-assets" ng-if="asset.tipo.split('/')[0] === 'image'">
                                <input type="number" min="0" ng-model="asset.duration" class="input-style-minimum" >
                            </div>
                        </div>
                        <div class="menu_preview" ng-click="ctrPlaylistEdit.toggleModal2(asset.path, asset.tipo)"><i class="fa2 fa-play-circle"></i> Preview </div>
                        <div class="menu_delete" ng-click="ctrPlaylistEdit.quitItem(asset)"><i class="fa2 fa-trash"></i> Quit </div>

                    </li>
                </ul>
            </div>


            <div class="right-content">
                <div ng-click="ctrPlaylistEdit.editPlaylist()" ng-disabled="!ctrPlaylistEdit.isValid()" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Confirm Changes</div>
            </div>

        </div>
    </div>
</div>