<% layout(layoutPathLogged) -%>
<% stylesheet('/css/screensLayout.css') %>

<div id="right-container">
    <div id="bar-small">
        <div class="space-content">
            <a href="/new_screen" class="btn btn-success"><i class="fa fa-desktop"></i>&nbsp;&nbsp;Add Screen</a>
        </div>
        <div class="search-content">
            <span class="bold_span">Search: </span> <input  ng-model="searchText" type="search" name="search_playlist" placeholder="...">
        </div>
    </div>
</div>