<% layout(layoutPathLogged) -%>
<% stylesheet('/css/ng-sortable.min.css') %>
<% stylesheet('/css/statisticsLayout.css') %>
<% stylesheet('/css/ng-quick-date.css') %>
<% stylesheet('/css/ng-quick-date-default-theme.css') %>
<% stylesheet('/css/chosen.css') %>

<div id="right-container" ng-app="ScreensApp" ng-controller="StatisticsController as ctrStatistics">
    <div id="right-space-minor">

        <div class="margin_top_space_minor">
            <p class="float">Day</p>
            <quick-datepicker icon-class='fa fa-calendar' disable-timepicker="true" tabindex="1" name='from' ng-model='day' class="input-style-large-statistics" placeholder="From" ></quick-datepicker>

            <p class="float_times">From:</p>
            <timepicker ng-model="time_from" show-meridian="false" ng-change="changed()" hour-step="hstep" minute-step="mstep" ></timepicker>

            <p class="float_times">To:</p>
            <timepicker ng-model="time_to" show-meridian="false" ng-change="changed()" hour-step="hstep" minute-step="mstep" ></timepicker>

            <div ng-click="ctrStatistics.actualize()" ng-disabled="!ctrStatistics.filtred()" style="float: right;" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Refresh Graph</div>

        </div>


        <div class="margin_top_space_minor">
            <p class="float">Screens</p>
            <select class="input-style-large" tabindex="3" multiple chosen ng-model="screens" ng-options="opt as opt.title for opt in allScreens track by opt._id">
            </select>
        </div>

        <div class="margin_top_space_minor">
            <p class="float">Groups</p>
            <select class="input-style-large-3" tabindex="4" multiple chosen ng-model="groups" ng-options="opt as opt.title for opt in allGroups track by opt._id">
            </select>
        </div>

        <div class="margin_top_space_minor">
            <p class="float">Assets</p>
            <select class="input-style-large-3" tabindex="5" multiple chosen ng-model="assets" ng-options="opt as opt.name for opt in allAssets track by opt._id">
            </select>
        </div>

    </div>
    <div id="right-space-minor-statistics">
        <linechart data="data" options="options"></linechart>
    </div>
</div>