<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Digital Signage without measurament of impact it's not Digital Signage!">
      <meta name="author" content="Marc Cobos Hernandez">
      <link rel="icon"
            type="image/png"
            href="img/logo_icon.png">

      <title>Screen Measure Impact</title>

      <!-- Bootstrap Core CSS -->
      <link href="/css/bootstrap.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="/css/sb-admin.css" rel="stylesheet" type="text/css"/>
      <link href="/css/logged-layout.css" rel="stylesheet" type="text/css"/>

      <!-- Morris Charts CSS -->
      <link href="css/plugins/morris.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



      <script src="/js/jquery.js"></script>


      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js"></script>
      <script src="/js/ui-bootstrap-tpls-0.12.1.js"></script>

      <script src="/js/jquery-sortable.js"></script>
      <script src="/js/sortable.js"></script>
      <script src="/js/d3.js"></script>
      <script src="/js/moment.js"></script>
      <script src="/js/line-chart.js"></script>
      <script src="/js/ng-quick-date.js"></script>
      <script src="/js/resources.js"></script>
      <script src="/js/angular-sanitize.js"></script>
      <script src="/js/Common.js"></script>
      <script src="/js/assetsModule.js"></script>
      <script src="/js/screensModule.js"></script>
      <script src="/js/statisticsModule.js"></script>
      <script src="/js/groupsModule.js"></script>
      <script src="/js/playlistModule.js"></script>
      <script src="/js/chosen-jquery.js"></script>
      <script src="/js/chosen.js"></script>
      <script src="/js/app.js"></script>

      <%- scripts %>
      <%- stylesheets %>
      <% include scripts.ejs %>

</head>
  <body>
  <header>
      <div>
          <a class="company-logo" href="/dashboard"></a>
          <ul id="header-menu-top">
              <li class="cursor-def first">
                  <a id="greeting">
                      Welcome <strong> <%= (user.firstName && user.lastName) ? (user.firstName + ' ' + user.lastName) : user.email %> </strong>
                  </a></li>
              <li class="cursor-def"><a href='#'>Help</a></li>
              <li class="logout-menu last"><a href='/logout'><i class="fa fa-fw fa-sign-out"></i> Log out</a></li>
          </ul>
      </div>
  </header>
  <div id="container" class="space">
          <div id="left-space">
              <ul class="nav navbar-nav side-nav">
                  <li <% if(active == 1 ){ %> class="active-menu" <% } %>>
                      <a href="/dashboard" ><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                  </li>
                  <li <% if(active == 2 ){ %> class="active-menu" <% } %>>
                      <a href="/audience"><i class="fa fa-fw fa-bar-chart-o"></i> Audience</a>
                  </li>
                  <li <% if(active == 3 ){ %> class="active-menu" <% } %>>
                      <a href="/screens" ><i class="fa fa-fw fa-desktop"></i> Screens</a>
                  </li>
                  <li <% if(active == 7 ){ %> class="active-menu" <% } %>>
                      <a href="/groups" ><i class="fa fa-fw fa-users"></i> Groups</a>
                  </li>
                  <li <% if(active == 4 ){ %> class="active-menu" <% } %>>
                      <a href="/playlist"><i class="fa fa-fw fa-table"></i> PlayList</a>
                  </li>
                  <li <% if(active == 5 ){ %> class="active-menu" <% } %>>
                      <a href="/assets"><i class="fa fa-fw fa-file"></i> Assets</a>
                  </li>
                  <li <% if(active == 6 ){ %> class="active-menu" <% } %>>
                      <a href="/settings"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                  </li>
              </ul>
          </div>
          <%- body -%>
  </div>
  </body>
</html>