<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Digital Signage without measurament of impact it's not Digital Signage!">
      <meta name="author" content="Marc Cobos Hernandez">

      <link rel="icon"
            type="image/png"
            href="img/logo_icon.png">

      <title>Screen Measure Impact</title>

      <!-- Bootstrap Core CSS -->
      <link href="/css/bootstrap.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="/css/stylish-portfolio.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="/css/style_login.css" rel="stylesheet">

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>

      <%- scripts %>
      <%- stylesheets %>

</head>
  <body>
    <!-- Navigation -->
    <% include navigation.ejs %>
    <%- body -%>

  </body>
    <% include scripts.ejs %>
</html>