Hi there,<br/><br/>

Welcome to Screens Impact Measure!<br/><br/>

User the follow link to active your user account.

<a href="<%= urlBase + "?username=" + username + "&token=" + token %>">Active My account</a><br/><br/>
