<% layout(layoutPath) -%>
<% script('/js/app.js') %>
<% script('/js/formModule.js') %>

<div id="top" class="header" ng-app="formApp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <% if (error) { %>
                <div id="output" class="alert alert-danger">
                    <%= error_msg %>
                </div>
                <% } %>
                <div class="account-wall">
                    <img class="profile-img" src="/img/logo_only.png" alt="Screen Digital Signage Measure Logo">
                    <form class="form-signin" action="/login" method="post" ng-controller="FormCtrl">
                        <input type="text" name="username" ng-model="model.username" class="form-control" placeholder="Username" required autofocus>
                        <input type="password" name="password" ng-model="model.password" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" ng-disabled="!isFormValid()" type="submit">
                            Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
